.input {
    height: 75px;
    border-radius: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    padding: 11px 30px 11px 11px;
    margin: 1px solid #888;
    box-shadow: -1px 4px 1px 1px black;
    position: relative;
    overflow: hidden;
}

.input::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assests/imagenes/flag.png');
    background-size: cover;
    background-position: center;
    background-position-y: -10px;
    background-repeat: no-repeat;
    filter: none;
    z-index: 0;
}

.input-text {
    background: linear-gradient(135deg, #1565C0, #AA00FF, #0097A7, #00897B);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 1;
}
