
@import url(https://fonts.googleapis.com/css?family=Martel+Sans:200,300,400,800,900);

.App::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 0;
}

.App {
  height: 130vh;
  padding-top: 39px;
  background-image: url('assests/imagenes/math.jpg');
  background-size: cover;
  font-family: Lato, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  position: relative;
  z-index: 1;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

body, html{
  font-family:'Martel Sans' ;
  
  background-color: #1b1b32;
}

.flag-logo-contenedor {
  width: 100%;
  display:flex;
  align-items:center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  overflow: visible;
}

.flag-logo {
  height: 40px;
}

.contenedor-calculadora {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #99c9ff;
  border-image: linear-gradient(90deg, #1de9b6, #1a237e) 1;
  border-radius: 20px;
  z-index: 2;
}


.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1{
  text-align: center;
  justify-content: center;
  background: linear-gradient(135deg, #2196F3, #E040FB, #4fbbd6, #1DE9B6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% 500%;
  animation: gradientBG 13s ease infinite;
  font-size: 2rem;
  font-weight: 800;
}

section.p15  {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}


@keyframes gradientBG {
  0%, 100% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
}
